# Node modules
node_modules/

# 编译输出
dist/
out-tsc/
build/

# 临时文件
.angular/cache/
.angular/

# 编译后的 JavaScript 文件
*.js
*.js.map

# 编译后的 TypeScript 文件
*.tsbuildinfo

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE 专用文件
.idea/
.vscode/
