<div class="container">
  <div class="logo_container">
    <a href="/homePage">
      <img src="../../assets/imageFile/logo.png" alt="XDF Sprayer Logo" class="logo">
    </a>
    <div class="company_name">
      <a href="/homePage">
        <p>億隆五金企業社</p>
      </a>
      <a href="/homePage">
        <p>XING DA FENG INDUSTRIAL COMPANY</p>
      </a>
    </div>

  </div>
  <div class="input_container">
    <div class="register_area">
      <p>歡迎登入</p>
      <div class="login_area">
        <p>沒有億隆五金購物帳號?</p>
        <a href="/signUp">立即註冊</a>
      </div>
      <div class="input_area">
        <p>帳號</p>
        <input type="text" placeholder="請輸入手機號碼或Email">
        <div class="password_text">
          <p>密碼</p>
          <p class="forget_password_color">忘記密碼</p>
        </div>
        <input type="text" placeholder="請輸入密碼">
        <button>登入</button>
      </div>
    </div>
  </div>
</div>



