<!-- header -->
<div class="header">
  <div class="header_left">
    <a href="#">簡體中文</a>
    <a>|</a>
    <a href="#">English</a>
  </div>
  <div class="header_right">
    <a href="#">購物車</a>
    <a href="#">我的訂單</a>
    <a href="/signUp">註冊</a>
    <a>|</a>
    <a href="/login">登入</a>
  </div>
</div>

<!-- logo -->
<div class="logo_container">
  <img src="../../assets/imageFile/logo.png" alt="XDF Sprayer Logo" class="logo">
  <div class="company_name">
    <h1>億隆五金企業社</h1>
    <h2>XING DA FENG INDUSTRIAL COMPANY</h2>
  </div>
</div>

<!-- manu bar -->
<nav class="main_nav">
  <a href="#">最新消息</a>
  <a href="#">商品搜尋</a>
  <a href="#">線上購物</a>
  <a href="#">客製化服務</a>
  <a href="#">產品目錄下載</a>
  <a href="#">關於億隆</a>
</nav>

<!-- side bar -->
<div class="content">
  <div class="sidebar">
    <ul>
      <li>噴嘴</li>
      <li>霧型氣流噴嘴</li>
      <li>噴嘴配件</li>
      <li>微霧噴嘴</li>
      <li>微霧噴嘴配件</li>
      <li>噴桿</li>
      <li>噴桿配件</li>
      <li>新品上架</li>
      <li>客人訂製</li>
    </ul>
  </div>

  <!-- content -->
  <div class="main_content">
    <div class="section">
      <p>1. 留放產品相關圖片</p>
      <p>2. 圖片可為系列內容</p>
      <p>3. 這頁圖片、這頁商品、客製商品圖片（5張）</p>
      <p>4. 圖片會根據時間作轉換並且可以點選圖片做商品了解</p>
    </div>
    <div class="section">
      <p>1. 此部分為內容頁詳細內容在“主頁樞紐內容頁面”</p>
      <p>2. 此部分為輔助頁面</p>
      <p>3. 內容為最新商品介紹、商品介紹、客製化商品介紹</p>
    </div>
    <div class="section">
      <p>1. 此部分為內容頁詳細內容在“主頁樞紐內容頁面”</p>
      <p>2. 此部分為輔助頁面</p>
      <p>3. 內容為最新商品介紹、商品介紹、客製化商品介紹</p>
    </div>
    <div class="section">
      <p>1. 此部分為內容頁詳細內容在“主頁樞紐內容頁面”</p>
      <p>2. 此部分為輔助頁面</p>
      <p>3. 內容為最新商品介紹、商品介紹、客製化商品介紹</p>
    </div>
    <div class="section">
      <p>1. 此部分為內容頁詳細內容在“主頁樞紐內容頁面”</p>
      <p>2. 此部分為輔助頁面</p>
      <p>3. 內容為最新商品介紹、商品介紹、客製化商品介紹</p>
    </div>
    <div class="section">
      <p>1. 此部分為內容頁詳細內容在“主頁樞紐內容頁面”</p>
      <p>2. 此部分為輔助頁面</p>
      <p>3. 內容為最新商品介紹、商品介紹、客製化商品介紹</p>
    </div>
  </div>
</div>

<!-- contact us -->
<footer class="footer">
  <div class="footer_content">
    <div class="company_info">
      <div class="company_name">
        <p>億隆五金企業社</p>
        <p>XING DA FENG INDUSTRIAL COMPANY</p>
      </div>
      <div class="company_info">
        <p>516 彰化縣埔鹽鄉西湖村大新路108之3號</p>
        <p>電話：0916887441</p>
        <p>Email: nozzle@sprayertw.com</p>
        <p>營業時間：週一至週日 8:30 ~ 18:30</p>
      </div>
      <div class="contact_us_icon">
        <!-- <h3>關於我們</h3> -->
        <ul>
          <li><img src="../../assets/imageFile/facebookIcon.png" alt="facebook icon" class="contact_icon"></li>
          <li><img src="../../assets/imageFile/lineIcon.png" alt="line icon" class="contact_icon"></li>
          <li><img src="../../assets/imageFile/youtubeIcon.png" alt="youtube icon" class="contact_icon"></li>
          <li><img src="../../assets/imageFile/messengerIcon.png" alt="youtube icon" class="contact_icon"></li>
        </ul>
      </div>
    </div>
    <div class="footer_section">
      <h3>| 產品相關</h3>
      <ul>
        <li><a href="#">產品搜尋</a></li>
        <li><a href="#">產品目錄</a></li>
        <li><a href="#">客製化服務</a></li>
      </ul>
    </div>
    <div class="footer_section">
      <h3>| 會員相關</h3>
      <ul>
        <li><a href="#">會員中心</a></li>
      </ul>
    </div>
    <div class="footer_section">
      <h3>| 線上購物</h3>
      <ul>
        <li><a href="#">購物須知</a></li>
        <li><a href="#">購物Q&A</a></li>
      </ul>
    </div>
    <div class="footer_section">
      <h3>| 關於我們</h3>
      <ul>
        <li><a href="#">關於億隆</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">企業合作</a></li>
      </ul>
    </div>
  </div>
</footer>



