/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #7CB697;
}

.header_left a, .header_right a {
  margin: 0 10px;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

.logo_container {
  display: flex;
  align-items: center; /* 上下置中 */
  justify-content: center; /* 左右置中 */
  padding: 20px;
  background-color: #B1D3C1;
}

.logo {
  height: 100px;
  margin-right: 10px
}

.company_name h1, .company_name h2 {
  margin: 5px;
  text-align: center;
}

.main_nav {
  display: flex;
  justify-content: center;
  /* background-color: #c0c0c0; */
  padding: 10px 0;
}

.main_nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.content {
  display: flex;
  margin: 10px 20px;
  flex: auto;
}

.sidebar {
  flex: 0.5;
  background-color: #F5F5F5;
  padding: 2px;
  height: 100px;
  /* border-right: 1px solid #ddd; */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  background-color: #F5F5F5;
}

.sidebar li:hover {
  background-color: #e0e0e0;
}


/* not yet */

.main_content {
  flex: 3;
  padding-left: 10px;
}

.section {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

/* below up not yet */
.footer {
  background-color: #104267;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  bottom: 0;
  /* position: absolute; */
  width: 100%;
}

.footer_content {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.footer_section {
  padding-left: 100px;
}

.company_name {
  font-weight: bold;
  font-size: 16px;
}

.company_info {
  font-size: 13px;
  margin-top: 10px;
}


.footer_section h3 {
  padding-bottom: 5px;
  font-size: 19px;
}

.footer_section ul li {
  list-style-type: none;
  padding: 2px 0;
}

.footer_section a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.footer_section ul li a:hover {
  text-decoration: underline;
}

.contact_icon {
  width: 38px;
  height: 38px;
}

.contact_us_icon ul {
  display: flex;
  list-style-type: none;
  margin-top: 12px;
}



